
#slogin{
	padding:10px;
	margin-right:67px;
	margin-top:-50px;
	float:right;
	z-index:-1;
	position:relative;
	background:#FF4961;
}

#add_err{
	margin:-19px 0 5px 5px;
	height:19px;
	z-index:-2000;
	
}
#loginForm{
	//background:#2aabe2;
	height:25px;
	z-index:1000;
}

.intro{
	margin-bottom:0px;
	display:none;
	position:fixed;

}
#around{
	
	height:600px;
}
.intro h1{
	
	font-size: 250px;
	margin-top:350px;
	//color:#FFF;
	//color: rgba(255, 255, 255, 1.0);
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bolder;
	
	color: #fff;/* Fallback: assume this color ON TOP of image */
	 -webkit-text-fill-color: transparent;
	 background: -webkit-linear-gradient(transparent, transparent), url("../img/intro/intro5.jpg") no-repeat;
	 background: -o-linear-gradient(transparent, transparent);
	 -webkit-background-clip: text;
	/*color: white;  
   	background:  url("../img/intro/intro5.jpg") no-repeat;
    -webkit-background-clip: text;
   	-webkit-text-fill-color: transparent;
   	background-clip: text;*/
  	 background-size: 100%;
	background-position: 50% -470px;
	//border:1px solid #fff;
	//text-shadow: 1px 1 black;
}
.intro .title{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:600px;
	//padding-top: 50%;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.4;
	background: #2AA8E2;
}
.inner {
		width: 960px;
		margin: 0 auto;
		position: relative;
		min-height: 50px;
		padding:30px 0;
		font-size: 18px;
		//font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		padding:30px 0;
		clear:900;
	}

.section {
	width: 100%;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	float:left;
	background:#fff;
}


.section .outer{
	
	padding:10px;
}

.section .inner{
	max-width:800px;
	margin:0 auto;
	padding:10px;
}

#s1 {
	padding-top:50px;
	min-height: 500px;
	//position:relative;
	z-index: 10;
	background:#fff;
	//background-color: rgb(227, 227, 227);
}


#s2 {
	min-height: 500px;
	//-webkit-box-shadow: inset 0px 2px 5px 0px #222;
	//-moz-box-shadow:    inset 0px 2px 5px 0px #222;
	//box-shadow:         inset 0px 2px 5px 0px #222;
	color:#333;

}

#s2 h1, #s2 h2{
	color:#333;
}

#s2 .outer{
	background: #2AA8E2;
}

#s3 {
	min-height: 500px;
	//-webkit-box-shadow: inset 0px 3px 3px 0px #222;
	//-moz-box-shadow:    inset 0px 3px 3px 0px #222;
	//box-shadow:         inset 0px 3px 3px 0px #222;
	background-color: #fff;
}


#s4 {
	background: #2e353f;
	margin-bottom:0;
	color: white;
	//-webkit-box-shadow: inset 0px 2px 5px 0px #222;
	//-moz-box-shadow:    inset 0px 2px 5px 0px #222;
	//box-shadow:         inset 0px 2px 5px 0px #222;
}
#register{
	background: #666;
	color:#fff;
}
#register .inner{
	width:960px;
	margin:0 auto;
	
}
#register h1{
	text-align:center;
	color:#fff;	
}
#regForm{
	float:left;
	width:60%;
}
#altLogin{
	float:right;
	width:35%;
}


/* Forms */

.pwConfirmRow{
	height:30px;
	vertical-align:middle;
}
#pwConfirmCell input{
	float:left;

	
}
#pwIndicator{
	float:left;
	margin:5px 0 0 5px;
	
}



#register form{
	
}
.wrapIndex{
	z-index:100;
	height:auto;
	//position: relative;
	//top:650px;
}

@media only screen and (min-width: 900px) {
.intro {
	z-index:10;
	font-size:60px;
	text-align:center;
	padding-top:100px;
    height:600px;
    max-height:600px;
    min-height:500px;
    width:100%;
    background: #FFF;
	//background-image: url("../img/bg.png");
	//background-repeat:repeat;
	background-image: url("../img/intro/intro5.jpg");
	background-repeat:no-repeat;
	color: rgb(227, 227, 227);
	background-size: 100%;
	background-position: 50% -120px;

	margin-bottom:40px;
	 -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	display:block;
	
}
a.mPS2id-highlight{ 
    background: #ff0; 
}
}
