*{
	margin:0;
	padding: 0;
}

a, a:visited, a:link{
	color: #2AA8E2;
	text-decoration: none;
}

strong{
	margin-top: 10px;
}

html {
    height:100%;
    width:100%;
}

body {
    margin: 0 auto;
	height:100%;
    width:100%;
    top:0;
    font-family: 'Raleway', sans-serif;
	font-size: 100%;
    line-height: 1.5em;
    font-weight: 500;
    color: #666;
    -webkit-font-smoothing: antialiased;
}
.siteContainer{
	position: relative;
	min-height:100%;
	margin-top: -150px;
	padding-top: 150px;

	overflow: scroll-Y;
	margin-bottom: -105px;
}
.wrap{
	position: relative;
	max-width:1000px;
	margin:0 auto;
	margin-top:100px;
	padding-left:50px;
	padding-right:50px;
	//padding-bottom:200px;
	//height:100% !important;
	//background:#206;
	//clear:left;
	position:relative;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	 padding-bottom: 155px;
}

h1, h2, h3, h4, h5, h6 {
    color: #666;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 10px;
	
}

h1{
	size:20pt;
}
h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8; 
}

b, strong {
    font-weight: bold;
}

pre{
	font-family: 'Droid Sans', sans-serif;
	line-height:normal;
}

img {
    border: none;
    display: block;
    margin: 1.3em auto;
}


/* Profile */

.userName{
	float:left;
	width:100%;
	font-size:13pt;
	
}

.userName h1{
	margin-top:10px;
	margin-bottom:20px;
	font-size:2em;
	line-height:1em;
}

.userName p {
	font-size: 1.2em;
}
.profileTop article{
	max-width:100%;
	float:left;
	position:relative;
			
}
.profileTop .left, .crop{
	width:35%;
	min-width:300px;
	//background:#f2f;
	position:relative;
	padding-right:10px;
	float:left;

	
}
.crop{
	width:50%;
}

.profileTop pre{
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
}
.profilePic{
	float:left;
	width:60%;
	margin:0 100% 10px 0;
	position:relative;
	overflow:hidden;
	-webkit-box-shadow:  0px 2px 5px 0px #222;
	-moz-box-shadow:     0px 2px 5px 0px #222;
	box-shadow:          0px 2px 5px 0px #222;
}

.profilePic:before{
	content:"";
	display:block;
	padding-top:100%;
}

.profilePic img{
	max-width:100%;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin:0;
	
	
}

.profileTop .right{
	//background:#2ff;
	width:50%;
	min-width:300px;
	min-height:100px;
	float:left;
	padding-left:55px;
}

.profileTop .right h2{
	
	
}

.profileInfo {
	margin:10px 20px 10px 0;
	width:100%;
}

.profileInfo strong{
	position:relative;
	
}

.description{
	margin-bottom:30px;
	float:left;
	width:100%;
	position: relative;
	height:auto;
	overflow:visible;


}
.offer, .search{

	width:45%;
	float:left;
	min-width:100px;
}

.offer{
	border-right:1px solid #222;
}

.column{
	width:25%;
	float:left;
}

.search{
	padding-left:20px;
	float:right;
}

.profileTop input{
	float:right;
}
.profileTop select{
	float:right;
}
.profileTop textarea{
	margin-top:20px;
	width:100%;
	max-width:100%;
	min-height:200px;
}

.courseCat{
	background:#f2f;
	float:left;
}

#courseList{
	//max-height:500px;
	width:auto;
}
#courseList input{
float:left;
}

.addcourse{

}

.higherH2{
	margin-top:0;
}
.editCourseList{
	width:100%;
	height:60px;
}

.editCourseList .info{
	float:left; 
	margin-top:5px; 
	width:60%;
}

.editCourseList .courseButtons{
	float:left;
	width:40%;
}
.editCourseList .courseButtons input{
	float:left;
}
#submitPersDel{
	float:left;
}

#picForm{
	margin-top:20px;
	margin-bottom:50px;
	position:relative;
}
/*matches*/

.match{
	width: 280px;
	height:280px;
	border:1px solid rgba(220, 220, 220, 1);
	float:left;
	margin:8px;
	line-height: 20px;
	overflow:hidden;
}
.match img{
	width:300px;
	margin:0;
}

.match .name{
	position:relative;
	bottom: 50px;
	height:50px;
	padding:5px;
	background: rgba(220, 220, 220, 0.7);
	font-size: 20px;
	color: #333;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align: center;
	display:block;
	vertical-align: middle;

	
}

.match a{
	color:#333;
	text-decoration: none;
}

/*buddies*/

.requestblock{
	height:auto;
	width:100%;
	position: relative;
	display:block;
	margin-bottom: 20px;
	float:left;
	clear:both;
}

.request{
	height:80px;
	width:65%;
	
	position: relative;
	
}

.request input{
	margin-top: 16px;
	float:right;
}

.request img{
	height:70%;
	width:auto;
	float:left;
	margin:0;
}

.request a{
	margin-left: 20px;
	float:left;
}

a.req {
	float:right;
}
/*home*/
.homeMatches{
	width:auto;
	height: 220px;
	margin: auto;
	padding-left: 8px;

}
.homeMatch{
	width: 194px;
	height:194px;
	margin:12px;
	position: relative;
	overflow: hidden;

}
.homeMatch img{
	width:100%;
}

.welcome{
	height:auto;
	width:100%;
	margin-top:50px;
	margin-bottom: 50px;
	padding:25px;
	padding-top: 5px;
	clear:both;
	background: #ddd;
	display: inline-block;
	box-sizing:border-box;
}
.ann{
	width: 100%;
	height:auto;
	margin:auto;
	position: relative;


}
.welcome h2{
	font-size: 150%;
	margin-top: 15px;
	color:#2AA8E2;
	font-weight: 700;
}
.welcome h3{
	font-size:115%%;
	font-weight: 500;
	margin-bottom:26px;
}
.welcome ul *{
	margin-left: 25px;
}
.welcome li{
	margin-top: 20px;
	margin-left: 23px;
	font-size: 100%;
	font-weight: 700;
}
.welcome ul p{
	margin-left: 25px;
}

button, input[type = 'submit'], input[type = 'button']{
	height:10px;
	margin-left: 0;
	margin-top: 5px;	
	margin-right: 5px;
	height:auto;
	width:auto;
	padding:8px;
	background: rgba(42, 168, 226, 0.2);
	position: relative;
	display:inline-block;
	color:#333;
	font-weight: 700;
	border:1px solid rgb(42, 168, 226);
	cursor: pointer; 
}
button:hover{
	background: rgba(42, 168, 226, 0.8);
	color:#fff;
}
.welcome ul a .button{
	margin-left:0;
}
#slogin input[type = 'submit']{
	background: #fff;
	margin:0;
	margin-left: 10px;
	padding:5px;
	border-color: #999;
}
input[type = 'submit']:hover, #slogin input[type = 'submit']:hover{
	background: rgba(42, 168, 226, 1);
	border-color: #fff;
	color:#fff;
}
#register input[type = 'submit']{
	color:#fff;
}
/*imagecrop*/

#cropbox{
	width:auto;
	height:auto;
	max-height:500px;
	max-width:500px;
}



#fileToUpload{
	width:100%;
}
.warning {
	margin-top: 20px;
	color: #9F6000;
	background-color: #FEEFB3;
	padding:6px;
}

.buttons{
	margin-top: 40px;
	float:left;
	width:auto;
	
}

.buttons a, .buttons #submit{
	float:left;
	margin-right: 10px;
}

.matchbox{
	padding-bottom: 100px;
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}
p.error{
	color:#f00;
}



/*footer*/

.footer{
	position: absolute;
	//bottom:0px;
	height:155px;
	background:#2aa8e2;
	width:100%;
	//margin-top:55px;
	padding:0;
	//bottom:-150px;
	clear:both;
	//float:left;
	border-top:1px solid #ccc;
	//z-index:1000;
	overflow: hidden;
  	bottom:0;
  	color:#fff;
  
   
}

.footer .container{
	height:100%;
	width:100%;
	max-width:960px;
	margin:0 auto;
	opacity: 1;
	padding-left:30px;
	padding-right:30px;
}
.footer .left{
	padding-top:20px;
	width:65%;
	height:100%;
	float:left;
}

.footer .right{
	width:35%;
	height:100%;
	float:left;
}
.footer a{
	color:#fff;
	margin-right: 25px;
	text-decoration: none;
}
.footer a:link{
	color:#fff;
}
.footer a:visited{
	color:#fff;
}

.logofooter{
		position: relative;
}
.footer img{
	width:100%;
	margin-top: -4.5vw;

}
@media screen and (max-width: 960px) {
	.changePic{
		display: none;
	}
}

@media screen and (max-width: 850px) {
	.right{
		padding:0!important;
	}
}
@media screen and (max-width: 670px) {
	.ann img{
		width:90%;
	}
}
