/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;	
}

.clearfix img{
	border:none;
	margin:0;
}


/* JavaScript free version */
.subMenu{
	position:fixed;
	top:0px;
	//background:#2aa8e2;
	-webkit-box-shadow: 0 5px 5px -2px #4D4D4D;
	box-shadow: 0 5px 5px -2px #4D4D4D;
	width:100%;
	color:#fff;
	z-index:100;
}

.subMenu .inner{
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;
}

.subMenu a{
	color:#fff;
	text-decoration:none;
	margin-left:20px;
}

.subMenu .inner {
	width: 9o%;
	margin: 0 auto;
	position: relative;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:10px 0;
	clear:both;
}



/* low res version */
@media screen and (max-width: 700px) {
	#nav-brand img{
		margin:0;
		border:none;
		float:left;
	}


	#login{
		display:none;
	}

	

	
	nav {
		width: 100%;
		background: #2e353f;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		position: fixed;
		z-index:100;
		height: auto;
	}

	nav ul {
		padding: 0;
		margin: 0 auto;
		width: 100%;
  		height: auto;
		display: none;
	}

	nav li {
		display: inline;
		float: left;
		width: 50%;
		position: relative;
	}

	nav a {
		color: #fff;
		display: inline-block;
		text-decoration: none;
		line-height: 40px;
		text-shadow: 1px 1px 0px #283744;
		text-align: left;
		width: 100%;
		text-indent: 25px;
	}

	nav li a {
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}


	nav a:hover, nav a:active {
		background-color: #8c99a4;
	}

	nav a#pull {
		display: block;
		width: 100%;
		position: relative;
		background:#2aa8e2;
		-webkit-box-shadow: 0 3px 4px -1px #1d1d1d;
		box-shadow: 0 3px 4px -1px #1d1d1d;
	}

	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 14px;
	}
}


/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}

	nav li a {
		border-bottom: 1px solid #576979;
	}

}






/* Desktop version */
@media only screen and (min-width: 960px) {

	nav{
		display:none;
	}

	

	
	
	.menuBtn {
		background: center center no-repeat transparent;
		background: #000;
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 10px;
	}
	
	

	
	
	.subMenu {
		position: fixed;
		top: 0px;
		height: 50px;
		z-index: 1000;
		width: 100%;
		min-width: 960px;
	
	}
	
	.subMenu .inner {
		padding:0;
		font-weight: 400;
	}
	
	.subMenu .outer {
		background:#2aa8e2;
		-webkit-box-shadow: 0 5px 5px -2px #4D4D4D;
		box-shadow: 0 5px 5px -2px #333;
		z-index:10;
	}
	
	.subNavBtn {
		display: block;
		height: 35px;
		width: 10%;
		float: left;
		margin: 0px 0px 0 0;
		text-decoration: none;
		font-size: 14px;
		padding: 15px 2% 0 2%;
		text-align: center;
		color: #fff;
		
	}
	
	.subMenu a:hover{
	background: #CC142D;
	}

	#nav-brand{
		visibility:hidden;
	}

}

/* non Index Nav */
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;	
}

.clearfix img{
	border:none;
	margin:0;
}


/* JavaScript free version */
.subMenu{
	position:fixed;
	top:0px;
	background:#2aa8e2;
	-webkit-box-shadow: 0 5px 5px -2px #4D4D4D;
	box-shadow: 0 5px 5px -2px #4D4D4D;
	width:100%;
	color:#fff;
	z-index:100;
}

.subMenu .inner{
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;
}

.subMenu a{
	color:#fff;
	text-decoration:none;
	margin-left:20px;
}

.subMenu .inner {
	width: 9o%;
	margin: 0 auto;
	position: relative;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:10px 0;
	clear:both;
}



/* low res version */
@media screen and (max-width: 960px) {
	#nav-brand img{
		margin:0;
		border:none;
		float:left;
	}


	#login{
		display:none;
	}


	
	nav {
		width: 100%;
		background: #2e353f;
		font-size: 11pt;
		font-family: 'PT Sans', Arial, sans-serif;
		font-weight: bold;
		position: fixed;
		z-index:100;
		height: auto;
	}

	nav ul {
		padding: 0;
		margin: 0 auto;
		width: 100%;
  		height: auto;
		display: none;
	}

	nav li {
		display: inline;
		float: left;
		width: 50%;
		position: relative;
	}

	nav a {
		color: #fff;
		display: inline-block;
		text-decoration: none;
		line-height: 40px;
		text-shadow: 1px 1px 0px #283744;
		text-align: left;
		width: 100%;
		text-indent: 25px;
	}

	nav li a {
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}


	nav a:hover, nav a:active {
		background-color: #8c99a4;
	}

	nav a#pull {
		display: block;
		width: 100%;
		position: relative;
		background:#2aa8e2;
		-webkit-box-shadow: 0 3px 4px -1px #1d1d1d;
		box-shadow: 0 3px 4px -1px #1d1d1d;
	}

	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 14px;
	}
}


/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}

	nav li a {
		border-bottom: 1px solid #576979;
	}

}






/* Desktop version */
@media only screen and (min-width: 960px) {

	nav{
		display:none;
	}

	

	
	
	.menuBtn {
		background: center center no-repeat transparent;
		background: #000;
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 10px;
	}
	
	

	
	
	.subMenu {
		position: fixed;
		top: 0px;
		height: 50px;
		z-index: 1000;
		width: 100%;
		min-width: 960px;
	
	}
	
	.subMenu .inner {
		padding:0;
		font-weight: 400;
	}
	
	.subMenu .outer {
		background:#2aa8e2;
		-webkit-box-shadow: 0 5px 5px -2px #4D4D4D;
		box-shadow: 0 5px 5px -2px #333;
		z-index:10;
	}
	
	.subNavBtn {
		display: block;
		height: 35px;
		width: 10%;
		float: left;
		margin: 0px 0px 0 0;
		text-decoration: none;
		font-size: 14px;
		padding: 15px 2% 0 2%;
		text-align: center;
		color: #fff;
		
	}
	
	.subMenu a:hover{
	background: #CC142D;
	}

	#nav-brand{
		visibility:hidden;
	}

}

/* non Index Nav */

